<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 主配置文件-全局配置文件 -->
<configuration>	

    <!-- 引入数据库配置参数 properties一般是引入外部文件的-->
    <properties resource="jdbc.properties"></properties>
    
    <!-- 配置全局参数 -->
    <settings>
   		<!-- 延迟加载 -->
    	<setting name="lazyLoadingEnabled" value="true"/>
    	<setting name="aggressiveLazyLoading" value="false"/>
    	<!-- 开启二级缓存s -->
    	<setting name="cacheEnabled" value="true"/>
    </settings>
    
    <!-- 定义类型的别名 -->
    <typeAliases>
    	<!-- 单个定义  麻烦 -->
    	<!-- <typeAlias type="com.htc.pojo.User" alias="user"/> -->
    	<!-- 批量定义别名  其定义的别名为类名  首字母大小写都可以 -->
		<package name="com.htc.pojo" />
    </typeAliases>
    
	<environments default="development"> 
		<environment id="development">
		    <!-- 使用事务管理 -->
			<transactionManager type="JDBC" />
			<!-- 数据库连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- 引入sql的映射-映射器 -->
	<mappers>
		<!-- 加载单个映射文件  使用相对资源路径 -->
	    <!-- <mapper resource="sqlmap/UserMapper.xml"/> -->
	    <!-- 加载类文件 Mapper接口    与mapper.xml的文件名一致   且同一个目录中 -->
	    <!-- <mapper class="com.htc.dao.UserMapper"/> -->
	    <!-- 批量加载mapper接口   mybatis自动扫描mapper接口   遵循的规则同上 -->
	    <package name="com.htc.dao"/>
	    
	</mappers>
	
	
	
	
</configuration>